.pagination {
  display: flex;
  align-items: center;
  border: 1px solid var(--neutral-300);
  border-radius: 16px;
  padding: 12px 16px;
  gap: 16px;
}

.pageInfo {
  color: var(--neutral-600);
  composes: mobile-text-1 from "@/app/fonts.module.css";
}

@media (min-width: 1024px) {
  .pageInfo {
    composes: desktop-text-1 from "@/app/fonts.module.css";
  }
}
