.primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background-image: var(--brand);
  color: var(--neutral-0);
  border: none;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}

.primary:hover {
  background-image: var(--brand-hover);
  color: var(--neutral-0);
}

.primary:disabled {
  background-image: var(--neutral-200);
  color: var(--neutral-600);
}

.primary.isPending {
  background-image: linear-gradient(
    102.47deg,
    rgba(23, 111, 235, 0.7) -5.34%,
    rgba(255, 128, 255, 0.7) 106.58%
  );
  color: var(--neutral-0);
}

.primary.md,
.primary.sm {
  border-radius: 12px;
}

.primary.sm {
  padding: 4px 16px;
}

.primary.md {
  padding: 8px 24px;
}

.primary.lg {
  padding: 16px 24px;
  border-radius: 16px;
}

@media (min-width: 1024px) {
  .primary {
    font-size: 18px;
    line-height: 27px;
  }
}
