.productsShowed {
  color: var(--neutral-600);
  composes: mobile-text-1 from "@/app/fonts.module.css";
}

@media (min-width: 1024px) {
  .productsShowed {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0;
  }
}
