.pagination {
  display: flex;
  align-items: center;
  border: 1px solid var(--neutral-300);
  border-radius: 16px;
  padding: 12px 16px;
  gap: 24px;
}

.pageInfo {
  color: var(--neutral-600);
  white-space: nowrap;
  composes: mobile-text-1 from "@/app/fonts.module.css";
}

@media (min-width: 1024px) {
  .pageInfo {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0;
  }
}
