.container {
  width: 100%;
  padding-inline: 20px;
}

.inner {
  width: 100%;
  margin-inline: auto;
}

@media (min-width: 1440px) {
  .container {
    padding-inline: 80px;
  }
  .inner {
    max-width: 1464px;
  }
}
