.landingBackground {
  background-repeat: repeat;
  background-position: center -108px;
  background-image: url("/wave.svg");
}

.landingContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 32px;
}

.landingText {
  width: min-content;
  text-align: center;
}

.sectionGradient {
  background-image: var(--gradient-bg-opacity);
}

@media (min-width: 1280px) {
  .landingBackground {
    margin-top: 80px;
  }
  .landingContent {
    justify-content: space-between;
    gap: 30px;
  }
  .landingText {
    text-align: left;
  }

  .sectionGradient {
    margin-top: 118px;
    height: 528px;
  }
}
