.landingSection {
  background-position: center -140px;
  background-repeat: repeat-y;
  background-image: url("/wave.svg");
}

.landingContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.landingTitle {
  display: flex;
  flex-direction: column;
  gap: 0;
  composes: desktop-header-1 from "@/app/fonts.module.css";
}

.illustrationContainer {
  --offset: 125px;

  padding-top: var(--offset);
  margin-top: calc(var(--offset) * -1);

  border-radius: 104px;

  position: relative;
  height: 680px;
  width: 722px;
  overflow: hidden;
}

.illustration {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
}

.illustrationGradient {
  background-image: var(--gradient-bg);

  width: 100%;
  height: 600px;
  border-radius: 104px;
}

@media (min-width: 1024px) {
  .landingSection {
    margin-top: 80px;
  }
}
