.landingBackground {
  background-repeat: repeat;
  background-position: center -108px;
  background-image: url("/wave.svg");
}

.landingContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 32px;

  padding-block: 30px 80px;
  margin-block: 10px 32px;
}

.landingText {
  width: min-content;
  text-align: center;
}

.sectionGradient {
  background-image: var(--gradient-bg-opacity);
  padding-block-start: 375px;
}

.sectionGradientContent {
  position: relative;
}

@media (min-width: 768px) {
  .landingContent {
    margin-block: 32px 259px;
  }
  .sectionGradient {
    padding-block-start: 147px;
  }
}

@media (min-width: 1280px) {
  .landingBackground {
    margin-block-start: 80px;
  }
  .landingContent {
    justify-content: space-between;
    gap: 30px;
    margin-block: 10px 32px;
  }
  .landingText {
    text-align: left;
  }

  .sectionGradient {
    margin-block: 150px 75px;
    height: 528px;
    padding-block-start: 0;
  }
}
