.illustrationContainer {
  display: none;
}

@media (min-width: 1280px) {
  .illustrationContainer {
    --offset: 125px;
    padding-top: var(--offset);
    margin-top: calc(var(--offset) * -1);
    border-radius: 104px;
    position: relative;
    height: calc(600px + var(--offset));

    overflow: hidden;
    display: block;
    flex: 0 1 722px;
    min-width: 610px;

    display: flex;
    flex-direction: column;
  }

  .illustration {
    position: absolute;
    top: -68px;
    left: 50%;
    transform: translateX(-50%);
  }

  .illustrationGradient {
    background-image: var(--gradient-bg-opacity);
    width: 100%;
    flex: 1;
    border-radius: 104px;
  }
}
