.button {
  width: 100%;
  margin-block-start: 16px;
}

.icon {
  width: 20px;
  height: 20px;
}

.button:disabled .icon rect {
  fill: var(--neutral-500);
}

.button:disabled:disabled .icon path {
  fill: var(--neutral-0);
}

@media (min-width: 1024px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}
