.mobileIllustration {
  position: absolute;
  top: -114px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .mobileIllustration {
    top: -314px;
  }
}

@media (min-width: 1280px) {
  .mobileIllustration {
    display: none;
  }
}
