:root {
  --white: #ffffff;

  --brand: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
  --brand-hover: linear-gradient(102.47deg, #1667d9 -5.34%, #f279f2 106.58%);

  --neutral-100: #f5f9ff;
  --neutral-200: #e6edf7;
  --neutral-300: #dae4f2;

  --neutral-500: #8fa3bf;
  --neutral-600: #7c899c;

  --neutral-900: #252f3d;

  --green-default: #29cc74;
  --green-light: #ccffe3;

  --red-default: #e07f4f;
  --red-light: #ffdfd9;

  --font-montserrat: "Montserrat", --apple-system, var(--font-geist-sans),
    Roboto, Arial, Helvetica;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--neutral-600);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-brand {
  background-image: var(--brand);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.title-1 {
  font-family: var(--font-montserrat);
  font-size: 96px;
  font-weight: 900;
  line-height: 76.8px;
}

.title-2 {
  font-family: var(--font-montserrat);
  font-size: 32px;
  font-weight: 900;
  line-height: 25.6px;
}

.title-3 {
  font-family: var(--font-montserrat);
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
}

.text-1 {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.text-1-caps {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 24%;
  text-transform: uppercase;
}

.text-1-light {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.text-2 {
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.text-2-caps {
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .text-1 {
    font-size: 18px;
    line-height: 27px;
  }
  .text-2-caps {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 5%;
  }
}
