.paginationArrow {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;
  border-radius: 8px;

  color: var(--neutral-500);
  background-color: var(--brand-light);

  text-decoration: none;
  transition: all 0.2s ease-in-out;

  & svg {
    font-size: 20px;
  }
}

.left {
  transform: rotate(180deg);
}

.paginationArrow:not(.disabled):hover,
.paginationArrow:not(.disabled):active {
  background-color: var(--brand-light-2);
  color: var(--neutral-500);
}

.paginationArrow.disabled {
  color: var(--neutral-300);
  background-color: var(--neutral-200);
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .paginationArrow {
    height: 40px;
    width: 40px;
  }
}
