.header {
  background-color: var(--neutral-0);
  position: sticky;
  top: 0;
  z-index: 4;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 40px;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
