.filtersContainer {
  margin-block-end: 64px;
}

.filters {
  flex: 1;
}

.pagination {
  display: none;
}

@media (min-width: 768px) {
  .filtersContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .filters {
    display: flex;
    flex-direction: column;
    flex: 0 1 529px;
  }
  .pagination {
    display: block;
    flex: 0 0 259px;
  }
}

@media (min-width: 1024px) {
  .filters {
    flex-direction: row;
    gap: 40px;
    flex: 1 1 1050px;
    flex-wrap: wrap;
  }
}
