.footer {
  background-color: white;
  color: var(--neutral-600);
  padding: 80px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 20px 40px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 80px;
  }
}
