.cardContainer {
  height: 506px;
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid var(--neutral-300);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.imageContainer {
  width: 100%;
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--neutral-300);
}

.description {
  padding: 16px 24px 24px;
  display: flex;
  flex-direction: column;
}

.name {
  color: var(--neutral-900);
  composes: mobile-text-1 from "@/app/fonts.module.css";
}

.category {
  color: var(--neutral-600);
  composes: mobile-text-2-caps from "@/app/fonts.module.css";
}

@media (min-width: 1024px) {
  .name {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0;
  }
  .category {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
  }
}
