.container {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  gap: 4px;
  width: 100dvw;
  scrollbar-width: none;
  white-space: nowrap;
}

.title {
  display: none;
}

@media (min-width: 768px) {
  .container {
    gap: 12px;
    width: min-content;
    overflow-x: unset;
  }
}

@media (min-width: 1440px) {
  .title {
    display: block;
    margin-inline-end: 4px;

    font-size: 18px;
    font-weight: 600;
    line-height: 27px;

    color: var(--neutral-600);
  }
}
