.container {
  display: flex;
  align-items: center;
  overflow-x: "ma";
  gap: 4px;

  max-width: 100%;
}

.title {
  display: none;
}

@media (min-width: 768px) {
  .container {
    gap: 12px;
  }
}

@media (min-width: 1024px) {
  .title {
    display: block;
    margin-inline-end: 4px;

    font-size: 18px;
    font-weight: 600;
    line-height: 27px;

    color: var(--neutral-600);
  }
}
