.card {
  border: 1px solid var(--neutral-300);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 100%;
  padding: 64px 34px 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--neutral-300);
}

.description {
  padding: 16px 24px 24px;
  display: flex;
  flex-direction: column;
}

.name {
  color: var(--neutral-900);
}

.category {
  color: var(--neutral-600);
}
